<header class="header-outer">
  <div class="header-logo">
    <div class="header-icon-container">
      <img class="header-logo-icon" src="../../assets/appicon.png" />
    </div>
    <span class="header-log-text">Wallet</span>
  </div>
  <nav class="header-nav">
    <a href="/login" class="header-navlink">login</a>
    <a href="/about" class="header-navlink">about</a>
    <a href="/cards" class="header-navlink">cards</a>
    <a href="/accounts" class="header-navlink">account</a>
    <a routerLink="/home" class="header-navlink selected">home</a>
  </nav>
</header>