.header-outer {
  width: 100%;
  height: 75px;
  color: white;
  background-color: #252525;
  margin: 0;
  padding: 0;
  box-shadow: 5px 5px 15px 10px #dfdfdf
  ;
}

.header-logo {
  height: 100%;
  width: 20%;
  float: left;
}

.header-icon-container {
  width: 20%;
  height: 100%;
  float: left;
}

.header-logo-icon {
  height: 40px;
  width: 40px;
  margin: 12px;
  float: left;
  filter: brightness(0) invert(1);
}

.header-log-text {
  width: 80%;
  float: left;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.header-nav {
  float: right;
  height: 100%;
  width: 80%;
}

.selected {
  color: white !important;
  font-weight: bolder !important;
}

.header-navlink {
  float: right;
  display: block;
  text-decoration: none;
  height: auto;
  width: 10%;
  color: #d8d8d8;
  text-align: center;
  padding-top: 25px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: lighter;
}
