.datafield-outer{
    height: 50px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    float: left;
}

.datafield-label{
    font-size: 10px;
    color: grey;
    text-transform: uppercase;
}

.datafield-value{
    font-size: 15px;
    color: #252525;
    text-transform: uppercase;
}